html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: grey;
}
.page-wrapper {
  min-height: 100%;
  margin-bottom: -2em;
}
.page-wrapper:after {
  content: "";
  display: block;
}
main {
  /*width: 500px;*/
  margin: 20px auto 100px;
  text-align: center;
}
ul > li {
  list-style: none;
  text-align: left;
}
section {
  margin: 30px;
  min-height: 400px;
  background-color: rgba(209,171,158,.8);
  padding: 15px;
}
footer, .page-wrapper:after {
  height: 2em;
}
footer {
  width: 300px;
  text-align: center;
  margin: 5px auto;
}
nav {
  position: fixed;
  background-color: #000;
  color: #fff;
  width: 100%;
  transition: background-color 200ms linear;
  z-index: 99;
  padding: 1em 1em 1em 0;
  top: 0;
  left: 0;
}
nav a {
  text-decoration: none;
  color: inherit;
  padding: 1em;
}
nav a:hover {
  background-color: #fff;
  color: #000;
  border-radius: 5%;
  border: rgba(147,242,235,0.85) 2px solid;
}
nav a:first-child {
  padding-left: 1em;
}
.card {
  height: 300px;
  width: 300px;
  display: inline-block;
  box-shadow: 1px 1px 10px 4px black;
  margin: 20px;
  border: 2px solid black;
  text-decoration: none;
  background-color: lightgrey;
  transform: scale(1);
  transition: all 400ms ease-in-out;
}
.card:hover {
  transform: scale(1.25);
  background-color: #fff;
  transition: all 400ms ease-in-out;
}
.card > h1 {
  color: #000;
  font-family: 'Rock Salt', cursive;
}
.card > img {
  width: 100px;
  height: 100px;
}
