html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: grey;
}
.page-wrapper {
  min-height: 100%;
  margin-bottom: -2em;
}
.page-wrapper:after {
  content: "";
  display: block;
}
header {
  padding: 20px;
  height: 100px;
  color: #fff;
}
main {
  width: 600px;
  margin: 20px auto 150px;
  text-align: center;
}
#main-title {
  text-transform: uppercase;
  font-family: 'Rock Salt', cursive;
  text-align: center;
}
ul.no-bullet {
  padding: 0;
}
ul.no-bullet > li {
  list-style: none;
  text-align: left;
  position: relative;
  display: inline;
}
ul.no-bullet > li.resources {
  display: block;
  margin: 20px;
}
.weekHeading {
  text-align: center;
  font-family: 'Rock Salt', cursive;
}
section {
  margin: 30px 0;
  min-height: 400px;
  background-color: rgba(147,242,235,0.85);
  padding: 20px;
  box-shadow: 1px 1px 10px 4px;
}
footer, .page-wrapper:after {
  height: 2em;
}
footer {
  width: 300px;
  text-align: center;
  margin: 5px auto;
}
nav {
  position: fixed;
}
nav a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}
img#hanzo {
  top: 60px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  z-index: -1;
}
img#bCalc {
  width: 360px;
  height: 225px;
}
ul.no-bullet > li.hide {
  display: none;
}
.hideContent {
  margin-bottom: 20px;
}