body {
  margin: 0;
}

header {
  color: silver;
  background-color: black;
  height: 60px;
  border-bottom: green 2px dotted;
  padding: 30px;
  text-align: center;
  font-size: 60px;
}
form {
  max-width: 100%;
  width: 600px;
  margin: 20px auto;
  text-align: center;
}
input {
  line-height: 2em;
  font-size: 2em;
  border: #000 3px outset;
}
button {
  width: 200px;
  margin: 20px;
  line-height: 2em;
  font-size: 2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.search {
  display: none;
}
@media (max-width: 565px) {
  input {
    font-size: 1.25em;
  }
  button {
    display: none;
  }
  .search {
    display: inline;
    position: relative;
    top: 20px;
    width: 50px;
  }
  #searchMag {
    width: inherit;
  }
}