body {
  margin: 0;
}

header {
  color: silver;
  background-color: black;
  height: 60px;
  border-bottom: green 2px dotted;
  padding: 30px;
  text-align: center;
  font-size: 60px;
}
.container {
  background-image: url(http://cdn.playbuzz.com/cdn/4f027569-d451-43f0-b51b-db41e63a64af/9d180e8d-786e-4a91-ad0a-5074a68e358f_560_420.jpg);
  background-size: cover;
  min-height: 100vh;

}
form {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
}
form h3 {
  margin: inherit;
}
input {
  line-height: 2em;
  font-size: 2em;
  border: #000 3px outset;
}
button {
  width: 200px;
  margin: 20px;
  line-height: 2em;
  font-size: 2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}
input,
button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  border-radius: 5px; font-size: inherit;
  padding: .5em 1em;
  cursor: pointer;
}
main {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 100vh;
  padding: 5em;
}
.search {
  display: none;
}
@media (max-width: 565px) {
  input {
    font-size: 1.25em;
    border: 3px blue dashed;
    margin: 10px;
  }
  button {
    display: none;
  }
  .search {
    display: inline;
    position: relative;
    top: 20px;
    width: 50px;
  }
  #searchMag {
    width: inherit;
  }
}
