body {
  margin: 0;
}
header {
  font-size: 3em;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 30px;
}
main {
  margin-left: 80px;
}
section {
  background-color: lightgrey;
  padding: 30px;
}
code {
  display: block;
}
.labLabel {
  width: 100px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.easy {
  background-color: green;
  color: #fff;
}